/GEE_precip_trial
/GEE_Veg_trial
/Kenya_Counties
/Sanity_check.qgz
/TIST_Groves
/GEE_Precip 
/GEE_Veg_new
visuals/
relevant_counties*/
relevant_tist*/
visuals*/
s2_roi_shape/
study_box_shape*/
*_ss.pkl
*.tif
*.html
*.csv
*.twb
*.qgz
*.png
*.pyc
*.xml
RESULTS*/
*.pkl